body {
    margin:0;
}
.gradient-background {
    background: linear-gradient(300deg, #03C988, #1C82AD, #13005A);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.test{
    height: 100vh;
}
.centered {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px
}
.strict {
    font-family: 'IBM Plex Serif', serif;
}
.lisible {
    font-family: 'Roboto Condensed', sans-serif;
}
.wtf {
    font-family: 'Permanent Marker', cursive;
}
h1 {
    font-size: 40px;
    color:white;
    padding: 20px
}
h2 {
    
    color:white;
    padding:10px;
    padding-top:0px;
}
h3 {
    margin: 40px;
    color:#1C82AD;
    
}
h4 {
    color:#13005A;
    text-decoration: underline;
}
.darkblue{
    color:#13005A;
}

#portrait {
    border-radius: 50%;


}
span {
    font-weight: bold;
}
p {
    width:400px;
    text-align: center;
    
}
.hero {
    margin:0px ;
}
.presentation {
    margin-top:100px;
    margin-bottom: 100px;
}

.table {
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 20px;
    border: 1 black solid;
}
li {
    list-style: none;
    font-family: 'IBM Plex Serif', serif;
}
.contact {
    margin:50px;
}
.btn {
    color:white;
    padding:20px;
    border:none;
    border-radius: 10px;
    width:300px;
    font-size: 28px;
    margin-top: 10px;
}
.btn:hover {
    width:350px;
    padding:30px;
}
.footer {
    width:99vw;
    color:white;
    padding:40px;
}
.pro-link {
    display:flex;
    flex-direction: row;
    align-items: space-between;
    gap:50px;
}
.pro-link > a {
    color:#a4b4bb;
    text-decoration: none;
}